// @import "~@blueprintjs/core/src/blueprint.scss";
@import "~@blueprintjs/core/dist/blueprint.css";
@import "~@blueprintjs/table/dist/table.css";

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background-color: #f5f8fa;
}

body {
  font-size: 1.4rem;
}

.button-row {
  text-align: right;
  margin-top: 1.0rem;
}

.error-text {
  font-size: 1.2rem;
  color: #c23030;
}
